# Django
DEBUG=True
SECRET_KEY=change-me

# Database
POSTGRES_DB=Django_REST
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

#Stripe
STRIPE_API_KEY=change-me

# Redis / Celery
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
