DEBUG=True
SECRET_KEY=secret
ALLOWED_HOSTS=*
POSTGRES_DB=yor_name
POSTGRES_USER=yor_name
POSTGRES_PASSWORD=secret
POSTGRES_HOST=yor_name
POSTGRES_PORT=5432
STRIPE_API_KEY=secret
REDIS_URL=redis://localhost:6379/0
